
 body {
    font-family: Arial, sans-serif;
    margin: 0;                                      
    padding: 0;                                
    background-color: gray;
}                                                                                                          
header {
     background-color: black;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:larger;
}
nav {
    background-color: darkred;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav a:hover {
    color: black;
    cursor: pointer;
}
section {
    padding: 20px;
}
section h2,h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.image-container{
    display:flex;
    justify-content: center;
    offset-distance: none;
}

footer {
    background-color: whitesmoke;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer img{
    align-items: center;
    padding: 0px;

}
img{
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 100%;
    border: 3px solid whitesmoke;
    padding: 5px;
}
p{
text-align: justify;
color: black;
text-indent: 3em;
font-size: larger;
}
section.img{
    display: flex;
    padding: 5px;
    white-space: 5px;
    align-items: center;
    justify-content: center;
    margin: o 10px;
}
